<div className="mt-4">
    <h2>Khóa học đã xóa</h2>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses }}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/restore" data-id="{{this._id}}" class="btn btn-link btn-restore">Khôi phục</a>
                        <a href="/courses/{{this._id}}" class="btn btn-link outline-none" data-id="{{this._id}}"
                            data-toggle="modal" data-target="#deleteModalForm">Xóa vĩnh viễn</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Không có khóa học nào bị xóa
                        <a href="/courses/create">Đăng khóa học</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModalForm" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Xóa course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa course?
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-danger" id="button-delete">Xóa</a>
                <a href="" class="btn btn-default">Close</a>
            </div>
        </div>
    </div>
</div>

<form action="" method="POST" name="deleteForm"></form>
<form action="" method="POST" name="restoreForm"></form>

<script>
    document.addEventListener('DOMContentLoaded',function () {
        var courseID;
        const formDelete = document.forms['deleteForm'];
        const formRestore = document.forms['restoreForm'];

        $('#deleteModalForm').on('show.bs.modal',function (e) {
            const $btnEl = $(e.relatedTarget);
            courseID = $btnEl.data('id');
        });

        $('#button-delete').on('click', function(e) {
            e.preventDefault();
            const actionURL = '/courses/' + courseID + '/force?_method=DELETE';
            formDelete.action = actionURL;
            formDelete.submit();
        });

        $('.btn-restore').on('click', function(e) {
            e.preventDefault();
            let courseID = $(this).data('id');
            const actionURL = '/courses/' + courseID + '/restore?_method=PATCH';
            console.log(actionURL)
            formRestore.action = actionURL;
            formRestore.submit();
        });
    });
</script>
